In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\Legion\Desktop\sales_predictions.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
#1) Separate your data into the features matrix (X) and target vector (y).

In [6]:
y=df['Item_Outlet_Sales']
X= df.drop(columns= 'Item_Outlet_Sales')

In [7]:
#2) Create a train, test, split on the data. Please use random number 42 for consistency.

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=42)

In [10]:
#3) Make a pipeline to include the 1) column transformations and  a 2) and your linear regression model.   

#For the column transformations:
#a) Use column_selector to select the categorical columns and the numerical columns

#b) Use column_transformer to match the transformation to the type of column

#4) Instantiate make_pipeline()

#5) Fit your pipeline on the training data

#6) Find the R^2 value of your model for both the training and test sets

In [11]:
from sklearn.compose import make_column_selector

In [12]:
num_selector = make_column_selector(dtype_include='number')
cat_selector = make_column_selector(dtype_include='object')

In [13]:
num_columns = num_selector(X_train)
cat_columns = cat_selector(X_train)

print(' numerical columns are' , num_columns)
print(' categorical columns are' , cat_columns)

 numerical columns are ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']
 categorical columns are ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [14]:
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

ohe_tuple = (one_hot_encoder, cat_selector)

In [15]:
from sklearn.compose import make_column_transformer

column_transformer = make_column_transformer(ohe_tuple)

In [16]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression

column_transformer = make_column_transformer(ohe_tuple)
lin_reg = LinearRegression()

pipe = make_pipeline(column_transformer, lin_reg)

In [17]:
# fit pipeline
pipe.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x00000225A14F7430>)])),
                ('linearregression', LinearRegression())])